<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Umair's Portfolio</title>
  <link rel="stylesheet" href="/styles/generalPage.css">
</head>
<body>
  <div class="card">
    <footer class="py-5 footerClass">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Components</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/main" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="/aboutMe" class="nav-link p-0 text-body-secondary">About Us</a></li>
            <li class="nav-item mb-2"><a href="/services" class="nav-link p-0 text-body-secondary">Services</a></li>
            <li class="nav-item mb-2"><a href="/feedback" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="/projects" class="nav-link p-0 text-body-secondary">Workings</a></li>
          </ul>
        </div>
    
        <div class="col-6 col-md-2 mb-3">
          <h5>Contact</h5>
          <ul class="nav flex-column">
            <li id="myContact" class="nav-item mb-2"><a href="https://wa.me/+923431202791?text=Hello%20from%20your%20website" class="nav-link p-0 text-body-secondary" target="_blank">Whatsapp</a></li>
            <li class="nav-item mb-2"><a href="tel:+923431202791" class="nav-link p-0 text-body-secondary">Call Us</a></li>
            <li class="nav-item mb-2"><a href="mailto:umairkmehmood789@gmail.com" class="nav-link p-0 text-body-secondary">Email</a></li>
          </ul>
        </div>
    
        <div class="col-6 col-md-2 mb-3">
          <h5>Follow us</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://twitter.com/login"target="_blank" class="nav-link p-0 text-body-secondary">Twitter</a></li>
            <li class="nav-item mb-2"><a href="https://www.linkedin.com/login" target="_blank" class="nav-link p-0 text-body-secondary">linked In</a></li>
            <li class="nav-item mb-2"><a href="https://www.instagram.com/um.air78o/"target="_blank" class="nav-link p-0 text-body-secondary">Instagram</a></li>
            <li class="nav-item mb-2"><a href="https://www.facebook.com/home.php" class="nav-link p-0 text-body-secondary" target="_blank">Facebook</a></li>
            
          </ul>
        </div>
    
        <div class="col-md-5 offset-md-1 mb-3">
          <form action="/feedback" method="post">
            <h5>Send us Your Special Feedback</h5>
            <p>Your feedback will help us improve our services</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Send</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Your Feedback" name="feedback">
              <button class="btn btn-primary" type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
    
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>© 2023 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </div>
    </footer>
  </div>
  
  
</body>
</html>

