
<div class="navBarDiv">
    <nav class="navbar navbar-expand-lg bg-transparent ">
      <div class="container-fluid">
        <i data-feather="command"  class="iconDesign"></i>
        <a class="navbar-brand" href="/main">Umair's Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form id = "formID" class="d-flex mx-auto" role="search">
            <a href="/login">
              <button class="btn btn-light buttonStyle" type="button">Login</button>
            
            </a>
            <a href="/signUp">
              <button class="btn btn-light buttonStyle" type="button">Sign Up</button>
            
            </a>
            
            </form>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/main">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutMe">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">My Workings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogs">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feedback">Feedbacks</a>
            </li>
          </ul>
          <div class="loginSignupButtons">
            <a href="/hireMe">
              <button type="button" class="btn btn-light">Hire Me</button>
            </a>
            <a href="#myContact">
              <button type="button" class="btn btn-dark">Contact Me</button>
          
            </a>
          
          </div>
          
        </div>
      </div>
    </nav>
  </div> 
  