<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umair's Portfolio</title>
    <link rel="stylesheet" href="/styles/generalPage.css">
</head>
<body>
    <hr>
    <div class="mainServices">
        <div class="aboutMeInnerDiv">
            <h1>About Me</h1>
        <h4>Brief highlight on my life and qualification</h4>
        <hr>
        <h2>Welcome!</h2>
        <p>Greetings! I'm Umair Mehmood, a passionate and dedicated computer scientist with an insatiable curiosity for all things tech. As an enthusiastic problem solver, I thrive on the challenges that the world of computing throws at me. My journey in the realm of technology has been a fascinating exploration, where each line of code is an opportunity to create something innovative and impactful. With a foundation in computer science and a commitment to lifelong learning, I am not just a coder; I am a visionary who sees the potential of technology to shape a better future. Join me on this exciting adventure, where lines of code transform into solutions, and ideas turn into reality. Let's embark on a journey of innovation and discovery together!</p>
        <h3>Expertise in Platforms</h3>
        <ul>
            <li>C language</li>
            <li>React Native Platform</li>
            <li>MERN Stack</li>
            <li>C# for Game Development Unity</li>
            <li>Python (for Machine Learning and other system task)</li>
            <li>React for Web</li>
            <li>HTML ,CSS ,XML for structuring and designing</li>
            <li>Java(Object Oriented Programming)</li>
        </ul>
        <h3>My Education</h3>
        <div class="educationDiv">
            <div class="firsteducationDiv">
                <h5>Matric</h6>
                    <hr>
                <h6>From Dar-e-Arqam Schools</h6>
                <p>2016-2018</p>
                <p>I have done my marticulation from dar e arqam school in rawalpindi in year 2016-2018 in biology.However I was not to interested in biology</p>
            </div>
            <div class="firsteducationDiv">
                <h5>Intermidiate</h6>
                    <hr>
                <h6>From Fauji Foundation College</h6>
                <p>2018-2020</p>
                <p>I completed my intermediate from my one of the dream college FFCB rawalpindi and I completed my Fsc in pre engineering</p>
            </div>
            <div class="firsteducationDiv">
                <h5>Graduation</h6>
                    <hr>
                <h6>From Comsats University islamabad, lahore campus</h6>
                <p>2021-2025</p>
                <p>Okay for graduation I went to lahore and get admission in comsats university lahore campus and choose the program that interest me.</p>
            </div>


        </div>
        <h6 >For More Details</h6>
        <hr>
        <a href="/assets/cv.pdf" target="_blank">
            <button type="button" class="githubButton">Download CV</button>
        </a>
        </div>
        
    
    </div>
    
</body>
</html>