<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Umair's Portfolio</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/scripts/hireMeformLogic.js"></script>
  
</head>
<body>
  <hr>


<div class="container mt-5 hireMeFormDiv">
  <%if(countOfOrders!==0){%>
    <h3>Your <%=countOfOrders%> order is already received by us</h3>
    <h4>If you want to give more task fill the below form</h4>
    <h6>Our Team is already coordinating with you regarding the order which is received</h6>
    <p>For further queries you can contact us</p>
    <hr>
    <%}%>
  
  <h2 class="mb-4">Hire Me Form</h2>
  <h5>Fill this form up in order to place your order</h5>
  <hr>
<%if(userOrder){%>
  <h4>Your Order is already placed Sucessfully</h4>
  <h5>You cannot place further Order until your first order is received by admin</h5>
  <h6 class="orderPlaceStyle">Please wait And explore our website we will respond to your order very soon</h6>
  <%}else{%>

  <form id="hireMeForm" method="post" action="/hireMe">
    <!-- Contact Information -->
    <div class="mb-3">
      <label for="fullName" class="form-label">Full Name</label>
      <input type="text" class="form-control" id="fullName" name="fullName">
    </div>
    <!-- <label id="floatingInput-error" class="error manual-error" for="floatingInput"></label> -->

    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input type="email" class="form-control" id="email" name="emailAddress" >
    </div>
    <div class="mb-3">
      <label for="companyName" class="form-label">Company Name</label>
      <input type="text" class="form-control" id="companyName" name="companyName" >
    </div>
    <div class="mb-3">
      <label for="industry" class="form-label">Industry</label>
      <input type="text" class="form-control" id="industry"name="industry" >
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Phone Number</label>
      <input type="tel" class="form-control" id="phone" name="phoneNumber" >
    </div>

    <!-- Project Details -->
    <div class="mb-3">
      <label for="projectType" class="form-label">Project Type</label>
      <select class="form-select" id="projectType" name="project" >
        <option value="" disabled selected>Select Project Type</option>
        <option value="Mobile App Development">Mobile App Development</option>
        <option value="Game Development">Game Development</option>
        <option value="Web Development">Web Development</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="projectDescription" class="form-label">Project Description</label>
      <textarea class="form-control" id="projectDescription" rows="3" name="description" ></textarea>
    </div>
    <div class="mb-3">
      <label for="projectType" class="form-label" >Preffered Platform</label>
      <select class="form-select" id="projectType" name="preferredPlatform">
        <option value="" disabled selected>Select the Preferred platform</option>
        <option value="IOS">Ios</option>
        <option value="Andriod">Andriod</option>
        <option value="Browsers">Browsers </option>
      </select>
    </div>

    <!-- Budget -->
    <div class="mb-3">
      <label for="budget" class="form-label">Estimated Budget</label>
      <input type="text" class="form-control" id="budget" name="extimatedBudget">
    </div>

    <!-- Timeline -->
    <div class="mb-3">
      <label for="timeline" class="form-label">Project Timeline</label>
      <input type="text" class="form-control" id="timeline" name="projectTimeline">
    </div>

    <!-- Additional Comments -->
    <div class="mb-3">
      <label for="additionalComments" class="form-label">Additional Comments</label>
      <textarea class="form-control" id="additionalComments" rows="3" name="additionalComments"></textarea>
    </div>

    <!-- Terms and Conditions -->
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="termsCheck" >
      <label class="form-check-label" for="termsCheck">I agree to the Terms and Conditions</label>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary mt-3 hireButton">Submit the Order</button>
  </form>
<%}%>
</div>



</body>
</html>
