<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umair's Portfolio</title> 
    <link rel="stylesheet" href="/styles/landingPageStyles.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css"> -->
    <!-- <script src="https://unpkg.com/feather-icons"></script> -->
  </head>
<body>

  <div class="main">
    <div class="contentdiv">
      <div class="inneerDiv">
      <h1 id="name" class="textDesign">UMAIR MEHMOOD</h1>
      <h2 id="port" class="textDesign">Portfolio</h2>
      <h3 id="designation" class="textDesign">Software Developer</h3>
      <div class="innerMost">
        <div class="innerMost1">
          <marquee behavior="scroll" direction="left"><h4 class="textDesign">Hi! Welcome to my portfolio</h4></marquee>
        </div>
        <div class="innermost2"></div>
      </div>
      
      <p id="describer" class="textDesign">I'm a passionate software developer with a knack for turning ideas into elegant and efficient solutions. With a strong foundation in coding and a love for problem-solving, I thrive in crafting software that makes a meaningful impact. Let's collaborate to bring your next project to life!</p>
      <a href="/aboutMe">
        <button type="button" class="btn btn-light">Learn More </button>
      </a> 
          
      </div>
      
    </div>
    <div class="freeDiv">
      
      
    </div>
  </div>
  <div class="card">
    <div class="container px-4 py-5" id="custom-cards">
      <h2 class="pb-2 border-bottom">Services we Provide</h2>
  
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg appImage"  >
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold mainHeading" >Mobile Application Development</h3>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg webImage" >
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold ">WebDevelopment Full stack developers</h3>
          </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg gameImage" >
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold ">Game Development Unity</h3>
          </div>
          </div>
        </div>
      </div>
    </div>
 

</div>
  <script>
    feather.replace();
  </script>

</body>
</html>