<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umair's Portfolio</title>
    <link rel="stylesheet" href="/styles/generalPage.css">
</head>
<body>
    <hr>
    
   <div class="blogsDiv">
    <h1>My Blogs</h1>
    <h5>Blogs on Mobile Application Development ,Game Development,Web Delopment all there to help you out</h5>
    <h6>Follow my medium account for more helping Blogs</h6>
    <hr>
    <div class='sk-ww-medium-post' data-embed-id='241849'></div>
    <script src='https://widgets.sociablekit.com/medium-post/widget.js' async defer></script>
    <a href="https://medium.com/@sp21-bcs-054/integrating-zego-cloud-in-react-native-application-a-comprehensive-guide-a2a32b3ed732" target="_blank">
        
        <button type="button" class="blogsButton">More Blogs</button>
    </a>
   </div> 

</body>
</html>