<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umair's Portfolio</title>
    <link rel="stylesheet" href="/styles/generalPage.css">
</head>
<body>
    <hr>
    <div class="projectDiv">
        <h1>My Projects</h1>
        <hr>
    <h2>I am a Computer Scientist</h2>
    <h3>I have area of  interets in different fields</h3>
    <h6 style="font-weight: 100;font-size: large;">
        <li>Mobile Application development</li>
        <li>Web Development</li>
        <li>Game development</li>
        <li>Cyber Security</li>
    </h>
    <h4>I have done work in all of above fields You can Check out my workings by visiting my github</h4>
    <a href="https://github.com/UMAIRJM/SP21-BCS-054-webtech" target="_blank">
        <button type="button" class="githubButton">My Github</button>
    </a>
    </div>
    
</body>
</html>