<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umair's Portfolio</title>
    <link rel="stylesheet" href="/styles/generalPage.css">
</head>
<body>
    <hr>
    <div class="mainServices">
        <div class="servicesfirstDiv">
            <h1>Who I am.?</h1>
            <p>
                "Hello! I'm Umair Mehmood, a passionate and dynamic computer scientist on a journey to explore the boundless possibilities of the digital realm. Armed with a curious mind and a relentless drive for innovation, I find joy in navigating the intricate landscapes of technology. Whether it's deciphering complex algorithms, building robust software solutions, or delving into the realms of artificial intelligence, I thrive on the challenges that the ever-evolving world of computer science presents. With each line of code, I sculpt the digital future, embracing the blend of creativity and logic that defines my approach. Join me on this exciting adventure where every keystroke is a step toward turning ideas into reality!"</p>
            
        </div>
        <div class="servicesSecondDiv">
            <h1>Services I provide</h1>
            <h5>
                <li>Mobile Appplication Development <h6><p>(Expertise in react native)</p></h6></li>
                <li>Web Development <h6><p>(Expertise in MERN stack and React)</p></h6></li>
                <li>Game Delopment <h6><p>(Expertise in Unity Platform in 3D,2D and 2.5D game developmet)</p></h6></li>
            </h5>
        </div>
        <div class="servicesThirdDiv">
            <h1>Mobile Application Development</h1>
            <p>In the fast-paced world of technology, mobile applications have become an integral part of our daily lives. Our Mobile Application Development services aim to transform your innovative ideas into sleek, user-friendly mobile apps. Whether you're targeting iOS, Android, or cross-platform solutions, our team leverages the latest tools and frameworks to create cutting-edge applications that deliver a seamless user experience. From concept to deployment, we prioritize functionality, performance, and aesthetic appeal to ensure your app stands out in the crowded app stores.</p>
            <img src="/assets/grayMobile.png" alt="mobile Images">
        </div>
        <div class="servicesFourthDiv">
            <h1>Game Development</h1>
            <p>Immerse your audience in captivating digital experiences with our Game Development services. From casual mobile games to immersive virtual reality experiences, we specialize in creating engaging and entertaining games across various platforms. Our team of game developers, designers, and artists collaborate to design, develop, and deploy games that not only entertain but also leave a lasting impression. Whether you're a gaming enthusiast with a unique concept or a business looking to gamify your offerings, we bring creativity and technical expertise to every gaming project, ensuring it's both enjoyable and technically sound.</p>
            <img src="/assets/grayGame.png" alt="game Image">
        </div>
        <div class="servicesFifthDiv">
            <h1>Web Development</h1>
            <p>A robust online presence is essential for businesses and individuals alike. Our Web Development services focus on crafting dynamic, responsive, and visually appealing websites tailored to meet your unique needs. Using a combination of front-end and back-end technologies, we bring your vision to life, creating websites that not only look great but also function seamlessly. Whether you need a corporate website, an e-commerce platform, or a custom web application, our team is dedicated to delivering high-quality, scalable solutions that elevate your online presence.</p>
            <img src="/assets/grayWeb.png" alt="web Image">
        </div>
        <a href="/hireMe">
            <button type="button" class="githubButton">Hire me For Services</button>
        </a>
        
       
    </div>
    
</body>
</html>